<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
</head>
<body>
    <!--layout principal-->
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/realTimeProducts.js"></script>
</body>
</html>